body {
    background-color: black;
    margin: 0;
    padding: 0;
}

#container {
    background-color: white;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.header-footer{
    width: 100%;
    text-align: center;
    background-color: #eee;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.main {
    width: 100%;
    text-align: center;
    height: 100%
}

.news {
    width: 100%;
    border: 3px solid;
    height: 35%
}